@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
@import 'icon.css';
@import 'var.css';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Rubik';
}

.background-shape {
  z-index: -1;
  position: absolute;
  top: -200px;
  left: -200px;
  width: 375px;
  border-radius: 0px 0px 300px 0px;
  height: 800px;
  background-image: linear-gradient(var(--linear1), var(--linear2));
}

#right-background {
  position: absolute;
  z-index: -1;
  bottom: -450px;
  right: -145px;
  background-image: linear-gradient(var(--linear1), var(--linear2));
  opacity: 0.05;
  height: 600px;
  width: 375px;
  border-radius: 300px 0px 0px 0px;
}

body {
  background-color: #fafafa;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

/* PHONE */

#notch {
  height: 30px;
  position: absolute;
  right: 55px;
  top: -13px;
  background-color: white;
  z-index: 1;
  width: 140px;
  border-radius: 15px;
}

#phone {
  background-color: var(--backgroundcolor);
  width: 280px;
  height: 580px;
  border: 13.5px white solid;
  border-radius: 30px;
  box-shadow: 0px 0px 2px 0px var(--grayishblue);
}

header {
  display: flex;
  align-items: center;
  background-image: linear-gradient(90deg, var(--linear2), var(--linear1));
  position: relative;
  border-radius: 15px 15px 5px 5px;
  height: 4.5rem;
  color: white;
  padding-top: 20px;
}

.samuel > span {
  font-size: 10px;
}

.icon-chevron-left {
  margin: 0px 0px 0px 10px;
}

.icon-more-vertical {
  position: absolute;
  right: 8px;
}

#avatar {
  border-radius: 50%;
  width: 1.8em;
  border: 1px white solid;
  margin: 10px 10px 10px 0px;
}

div > span:nth-child(1) {
  font-size: 13px;
}

div > span:nth-child(3) {
  font-size: 8px;
  position: relative;
  bottom: 5px;
  color: var(--grayishblue);
}

/* CHAT */

.left-text {
  color: var(--modviolet);
  background-color: #eee4f2;
  border-radius: 1em 1em 1em 0px;
  padding: 8px;
  font-size: 10px;
  margin: 10px;
  width: 143px;
  line-height: 13px;
}

.right-text,
.dog-img {
  position: relative;
  left: 95px;
}

.right-text {
  color: var(--darkviolet);
  background-color: white;
  border-radius: 1em 1em 0em 1em;
  padding: 8px;
  left: 90px;
  font-size: 10px;
  margin: 10px;
  width: 140px;
}

#phone > p:nth-child(8) {
  width: 100px;
  left: 130px;
}

.dog-img {
  width: 3em;
  border-radius: 0.8rem;
}

.walk {
  font-size: 9px;
  position: relative;
  width: 160px;
  background-image: linear-gradient(90deg, var(--linear1), var(--linear2));
  color: whitesmoke;
  margin: 10px;
  border-radius: 1em 1em 1em 0px;
  padding: 1.2em;
}

.walk > span {
  font-size: 12px;
  font-weight: 700;
  position: absolute;
  right: 12px;
}

.circle {
  border-radius: 50%;
  border: 1px solid hsla(0, 0%, 100%, 0.418);
  margin: 0px 1em 0px 0px;
  display: inline;
  padding: 1px 10px 1px 1px;
}

.input {
  position: relative;
  width: 230px;
  margin: 1em 1em 1em 1em;
  background-color: white;
  border-radius: 2em;
  padding: 15px 12px 12px 25px;
  font-size: 10px;
  color: var(--grayishblue);
}

#input-submit {
  font-weight: 700;
  font-size: 15px;
  padding: 5px 9px 5px 9px;
  border-radius: 50%;
  position: absolute;
  right: 8px;
  bottom: 5px;
  background-color: var(--buttonback);
}

/* H1 AND P STYLE */

#simple-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 2rem 1rem 2rem;
}

h1 {
  font-size: 2rem;
  font-weight: 500;
  color: var(--desatviolet);
}

#simple-text {
  font-size: 13px;
  padding: 0px 2em 0px 1.5em;
  line-height: 1.8rem;
  color: var(--grayishviolet);
  text-align: center;
}

footer {
  position: absolute;
  top: 1030px;
  font-size: 13px;
  margin: 5%;
}

@media screen and (min-width: 650px) {
  body {
    width: 1200px;
    position: relative;
  }
  .background-shape {
    top: -200px;
    left: -50px;
  }
  #right-background {
    height: 800px;
    bottom: -200px;
    right: -70px;
  }
  main {
    flex-direction: row;
    margin: 10em;
    justify-content: center;
    justify-content: space-evenly;
  }
  #simple-container {
    max-width: 500px;
    display: initial;
  }
  h1 {
    font-size: 35px;
  }
  #simple-text {
    text-align: start;
    padding: 0;
    font-size: 16px;
  }
}
